<h1>Typescript Introduction</h1>
<b>What is Typescript?</b>
<p> It is a superset of JavaScript. So it means the any invalid JavaScript code also valid Typescript code. But Typescript has a additional features that do not exist in correct version of JavaScript. For ex:-</p>
<ul>
  <li>Strong Typing</li>
  <li>Object oriented features</li>
  <li>Compile time errors</li>
  <li>Great Tooling</li>
</ul>
<p>So basically typescript fixing and compile it then transpile into JavaScript invalid code which browser understand.</p>
<img src="../../assets/main-ts.png" alt="" width="30%">
<p>Transpile typescript code to JavaScript code</p>
<img src="../../assets/traspile-main-ts-to-main-js.png" width="30%" alt=""><br>
<img src="../../assets/main-js.png" width="30%" alt=""><br>
<b>Declaring Variable</b>
<p>Two ways to declare Variable:-</p>
<img src="../../assets/declare-variable.png" width="15%" alt="">
<p>JavaScript have different versions</p>
<ul>
  <li>ES5 (ECMAScript 5): supported by all browsers</li>
  <li>ES6 (2015)</li>
  <li>ES2016</li>
  <li>ES2017</li>
</ul>
<img src="../../assets/new-ex-1.png" width="30%" alt=""><br>
<p>Compile main.ts file</p>
<img src="../../assets/compile-new-ex-1.png" width="30%" alt=""><br>
